---
excerpt: "This is a selection of my publications, see [**here**](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en) for more information."
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
header:
  overlay_image: ../images/headers/header.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Research Papers</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 20px;
    }

    h1, h2 {
      color: #3498db;
    }

    p {
      margin-bottom: 20px;
    }

    a {
      color: #2c3e50;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      color: #e74c3c;
    }
  </style>
</head>

<h1><strong>REFEREED JOURNAL PUBLICATIONS (* stands for the corresponding author)<strong></h1>
<h2><strong>2023</strong></h2>

<p>
  <a href="https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en">Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment.</a><br>
  Published in Renewable and Sustainable Energy Reviews<br>
  Shang, W. L., Zhang, J., Wang, K., Yang, H., & Ochieng, W. (2024). Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment. Renewable and Sustainable Energy Reviews, 190, 114021.<br>
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0739885923001002?casa_token=n5wDFt4xYrAAAAAA:PEasgWoOChOWu2craIpVOCTlumPflG5o3gNuQOa5tOF4rLYmC9_Bqmz-3Wfbi2sMxeDNtmE1tdI">Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology.</a><br>
  Published in Research in Transportation Economics<br>
  Li, M., Li, H., Wang, K., Shen, S. (2023). Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology. Research in Transportation Economics, 102, 101360.<br>
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423002598?casa_token=gB1yBYzrnKoAAAAA:ik8Q644rXvBudR3xcz-Z3yedyd2tRy0Kzsgcmr2W9TzYY-RnWSs2eoT-XMxXu2OTnkMI1pN0zAs">Restructuring Chinese railways from a cost-efficient perspective—A hedonic cost function analysis.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Yu, K., Wu, J., Wang, K.*, Zhang, A., Zheng, S., Wang, Y., Li, H. (2023). Restructuring Chinese railways from a cost-efficient perspective—A hedonic cost function analysis. Transportation Research Part A: Policy and Practice, 177, 103839.<br>
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S014098832300590X?casa_token=89rtw25LPAYAAAAA:SnzD6tMZauwPaUsJDu6JI6tLMrnIj6tmvAFOIYdMXJRRwwXxpFg1Yprd1MZb8q-D0Oe71ITvO7U">Can low-carbon energy technology lead to energy resource carrying capacity improvement? The case of China.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Dong, K.*, Wang, K., Dong, X. (2023). Can low-carbon energy technology lead to energy resource carrying capacity improvement? The case of China. Energy Economics, 107092.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423002422">Promote transport facility Resilience: Persuasion or Subsidy?</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zheng, S., Jia, R.*, Shang, W. L., Fu, X., Wang, K. (2023). Promote transport facility Resilience: Persuasion or Subsidy?. Transportation Research Part A: Policy and Practice, 176, 103822.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988323004632?casa_token=QBRZw3z43YUAAAAA:H7bX3tk_86dpnRLatEsIqBAYuEva3x4S9fLmKr-2NLLI00JGKbNGdvSSErl_Z9_XRrnK2tZc4Ws">How does clean energy transition promote original design manufacturers? A three-party evolutionary game analysis.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Guo, Q., Jia, R., Dong, K.*, Wang, K. (2023). How does clean energy transition promote original design manufacturers? A three-party evolutionary game analysis. Energy Economics, 126, 106965.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X23002123?casa_token=bJkEdAAVd14AAAAA:YxjPRnIcMe0BSCYFDJaalxMCuAkjzBoWCPWRgZlQ2lJhrp6c06gfe2ZmfYJyuvKrPZIayC0D9kI">Can smart transportation inhibit carbon lock-in? The case of China.</a><br>
  Published in Transport Policy<br>
  Dong, K., Jia, R., Zhao, C., Wang, K. (2023). Can smart transportation inhibit carbon lock-in? The case of China. Transport Policy, 142, 59-69.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S2212095523002237?casa_token=77KrUNLIUxwAAAAA:EQ0JeCgIB9_j5qcXkiIx5L6OSsMU9t47qMpxUNDtCYDpxwOQH1uQB8vGuRy3dc6EOOfFobqc9po">How can Chinese cities escape from carbon lock-in? The role of low-carbon city policy.</a><br>
  Published in Urban Climate<br>
  Zhao, C., Dong, K., Wang, K., Taghizadeh-Hesary, F. (2023). How can Chinese cities escape from carbon lock-in? The role of low-carbon city policy. Urban Climate, 51, 101629.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420723005883?casa_token=tLP8XSDaiFEAAAAA:7DgAeyLPJfXUUCd7ZwbhDt9-ts3vHhRrheJliHvY3aJ-w7ywrxa7k1u1S4BCbkoX7OYDVhEGW18">Assessing the role of financial development in natural resource utilization efficiency: Does artificial intelligence technology matter?</a><br>
  Published in Resources Policy<br>
  Wang, J., Wang, K., Dong, K., Zhang, S. (2023). Assessing the role of financial development in natural resource utilization efficiency: Does artificial intelligence technology matter? Resources Policy, 103877.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1366554523001990?casa_token=RcJrvtQ4oJAAAAAA:ELKIIIv8j1fPtmilf6MB-cahBdkSEndvW262dr2E31gYaWN5yH7JRZB5e4hgM5algE_GGLkskSM">Do domestic mergers improve airlines’ international competitiveness?---Theoretical and empirical evidence from China.</a><br>
  Published in Transportation Research Part E: Logistics and Transportation Review<br>
  Ma, W., Wang, K., Wang, Q., & Yang, H.* (2023). Do domestic mergers improve airlines’ international competitiveness?---Theoretical and empirical evidence from China. Transportation Research Part E: Logistics and Transportation Review, 176, 103211.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0306261923004853?casa_token=f3uz2MsrE08AAAAA:t-ARsZWk31DxQkrBCjI67tbUVdRILewa0ReP5qOZME5rGv6n6WaNq2x7R-NyYBdGcmQjpsNnFrw">Bike-sharing duopoly competition under government regulation.</a><br>
  Published in Applied Energy<br>
  Wang, Y., Jin, H., Zheng, S., Shang, W. L.*, Wang, K. (2023). Bike-sharing duopoly competition under government regulation. Applied Energy, 343, 121121.
</p>

, K.* (2023). How does renewable energy encourage carbon unlocking? A global case for decarbonization. Resources Policy, 83, 103622.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420723003331?casa_token=-imJvcfdtlUAAAAA:xJeBKOXMR51r-HcHh3RciHqeOeZU7242q7lgLuKv8jtCa-Ez1spfPhme631R4lnGrVl_P6nBkTo">How does renewable energy encourage carbon unlocking? A global case for decarbonization.</a><br>
  Published in Resources Policy<br>
  Zhao, C., Wang, J., Dong, K.* (2023). How does renewable energy encourage carbon unlocking? A global case for decarbonization. Resources Policy, 83, 103622.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988323001895?casa_token=pQEQ4DDCqn0AAAAA:F66G-9CFnMh5vrg_VgC1SnCQOYI-FmKNE9YF6Z5xl47Nn6njBmRneSgKFOXPHLsNDX-fPm8gt0o">How does energy poverty eradication realize the path to carbon unlocking? The case of China.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Dong, K.*, Jiang, H. D., Wang, K., Dong, X. (2023). How does energy poverty eradication realize the path to carbon unlocking? The case of China. Energy Economics, 121, 106691.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000629?casa_token=cNeku883eHUAAAAA:jCY29dB3YGwgyzdvrAE_59l8r4x3GA50VXX861n_kBmoN0cXob5Aa9HvBWN-QM4QEfdyrfH8EYI">Impact of CR Express and intermodal freight transport competition on China-Europe Route: Emission and welfare implications.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zhang, Y., Zhang, A.*, Wang, K., Zheng, S., Yang, H., Hong, J. (2023). Impact of CR Express and intermodal freight transport competition on China-Europe Route: Emission and welfare implications. Transportation Research Part A: Policy and Practice, 171, 103642.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0264275123000616?casa_token=CZZflIh9YFAAAAAA:c6gaFsrzwBGb8duAv8Wt4uVt6Ls239SsuZddfdXVhFfzzMMfZARWIVZeFH-0EnjoGb3bMm_uHqg">How does innovative city policy break carbon lock-in? A spatial difference-in-differences analysis for China.</a><br>
  Published in Cities<br>
  Zhao, C., Wang, K., Dong, K*. (2023). How does innovative city policy break carbon lock-in? A spatial difference-in-differences analysis for China. Cities, 136, 104249.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000137?casa_token=JnKkffrsfqMAAAAA:GyHKE2kE8tZWLXTsQ9lSV14aWST4kEtIrTPhRJOolCFcuoA5pEnc9exGzGlJk6p0y240XEnm5Dk">Government interventions in regional airline markets based on aircraft size—Welfare and environmental implications.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Chen, Y., Hou, M., Wang, K., Yang, H*. (2023). Government interventions in regional airline markets based on aircraft size—Welfare and environmental implications. Transportation Research Part A: Policy and Practice, 169, 103593.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000083?casa_token=DAMcIO-p6EgAAAAA:V9Rm4D1cGTcjp0CIufg0JyXY3jd-XG9MYOO00GcGX5oUH84DH7FMpYoqdS-BZjnv1YxzrtGkYCM">How does high-speed rail affect tourism development? The case of the Sichuan-Chongqing Economic Circle.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Ren, X., Zeng, G., Dong, K.*, Wang, K. (2023). How does high-speed rail affect tourism development? The case of the Sichuan-Chongqing Economic Circle. Transportation Research Part A: Policy and Practice, 169, 103588.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1361920922004047?casa_token=BJhULF1AZbUAAAAA:pz1P3wD_C4VqSYBny9m_IkbpA_1kfnQ2RP20O2hpfeU6X1gr9j7e0fq1-9GYevN8oaZxgC9uHSI">Can China's aviation network development alleviate carbon lock-in?</a><br>
  Published in Transportation Research Part D: Transport and Environment<br>
  Zhao, C., Dong, K., Zheng, S., Fu, X., Wang, K.* (2023). Can China's aviation network development alleviate carbon lock-in?. Transportation Research Part D: Transport and Environment, 115, 103578.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0313592623000048?casa_token=Hsf_ntswVXwAAAAA:I-DXnM8DC6J4AOEIHkNfdtwqiUK9vLyxXAbbSl_C4xbs5jH4G99YguJ7JT7Af-VZ8p3Qzy1hdpI">Towards green recovery: Platform economy and its impact on carbon emissions in China.</a><br>
  Published in Economic Analysis and Policy<br>
  Wang, J., Dong, K.*, Wang, K. (2023). Towards green recovery: Platform economy and its impact on carbon emissions in China. Economic Analysis and Policy, 77, 969-987.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420722007115?casa_token=UtPDwy5fr9AAAAAA:iT7vAsZevCEaYHBzU-16B-41vHMM6NZoeVvTYPvOAQuSjQxukXqT3pzxdJ4iKt_oELMi8w3ubUg">How does natural resource dependence influence carbon emissions? The role of environmental regulation.</a><br>
  Published in Resources Policy<br>
  Li, J., Dong, K.*, Wang, K., Dong, X. (2023). How does natural resource dependence influence carbon emissions? The role of environmental regulation. Resources Policy, 80, 103268.
</p>

paragraph, with the title as a clickable link leading to the article, followed by the publication details and authors.

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0739885923001002?casa_token=n5wDFt4xYrAAAAAA:PEasgWoOChOWu2craIpVOCTlumPflG5o3gNuQOa5tOF4rLYmC9_Bqmz-3Wfbi2sMxeDNtmE1tdI">Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment.</a><br>
  Published in Renewable and Sustainable Energy Reviews<br>
  Shang, W. L., Zhang, J., Wang, K., Yang, H., & Ochieng, W. (2024). Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment. Renewable and Sustainable Energy Reviews, 190, 114021.<br>
</p>

<!-- Repeat the above structure for the remaining research papers -->

<!-- Include the next research paper here -->

<p>
  <a href="URL">Title</a><br>
  Published in Journal Name<br>
  Authors (Year). Full citation.<br>
</p>

<!-- Repeat for each remaining research paper -->



<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
