---
excerpt: "This is a selection of my publications, see [**here**](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en) for more information."
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
header:
  overlay_image: ../images/headers/publication_header.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

<h1><strong>REFEREED JOURNAL PUBLICATIONS (* stands for the corresponding author)<strong></h1>
<h2><strong>2023</strong></h2>

[Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment.](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en)
Published in Renewable and Sustainable Energy Reviews
Shang, W. L., Zhang, J., Wang, K., Yang, H., & Ochieng, W. (2024). Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment. Renewable and Sustainable Energy Reviews, 190, 114021.
https://www.sciencedirect.com/science/article/pii/S1364032123008791?casa_token=WZ2s4WEa6FQAAAAA:JrhKWLN_4RDQ2_XFXa7FKTkGYOiOrL69ybaZyfrgmWkQfgC_uKLyHO9B_vza0FgBU2Lrq-AIee4



<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
