---
excerpt: "This is a selection of my publications, see [**here**](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en) for more information."
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
header:
  overlay_image: ../images/headers/publication_header.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

<h1><strong>REFEREED JOURNAL PUBLICATIONS (* stands for the corresponding author)<strong></h1>
<h2><strong>2023</strong></h2>

[Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment.](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en)
Published in Renewable and Sustainable Energy Reviews
Shang, W. L., Zhang, J., Wang, K., Yang, H., & Ochieng, W. (2024). Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment. Renewable and Sustainable Energy Reviews, 190, 114021.


[Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology.](https://www.sciencedirect.com/science/article/pii/S0739885923001002?casa_token=n5wDFt4xYrAAAAAA:PEasgWoOChOWu2craIpVOCTlumPflG5o3gNuQOa5tOF4rLYmC9_Bqmz-3Wfbi2sMxeDNtmE1tdI)
Published in 
Li, M., Li, H., Wang, K., Shen, S. (2023). Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology. Research in Transportation Economics, 102, 101360.


Yu, K., Wu, J., Wang, K.*, Zhang, A., Zheng, S., Wang, Y., Li, H. (2023). Restructuring Chinese railways from a cost-efficient perspective—A hedonic cost function analysis. Transportation Research Part A: Policy and Practice, 177, 103839.
https://www.sciencedirect.com/science/article/pii/S0965856423002598?casa_token=gB1yBYzrnKoAAAAA:ik8Q644rXvBudR3xcz-Z3yedyd2tRy0Kzsgcmr2W9TzYY-RnWSs2eoT-XMxXu2OTnkMI1pN0zAs


<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
