{% include base_path %}

<style>
    .image-container {
        height: 50px;
        margin-top: 10px;
    }

    .image-container img {
        max-height: 100%;
        margin-right: 20px;
    }
</style>

<script>
    function handleImageError(img) {
      // This function will be called if the image fails to load
      img.style.display = 'none'; // Hide the image
      // Alternatively, you can display alternative content or take other actions
    }
  </script>

<div class="page__footer-copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} | allen-kun.wang@polyu.edu.hk
</div>

<div class="image-container">
    <img src="../images/logos/logo1.png" alt="Logo 1" onerror="handleImageError(this);">
    <img src="../images/logos/logo2.png" alt="Logo 2" onerror="handleImageError(this);">
    <img src="../images/logos/logo3.png" alt="Logo 3" onerror="handleImageError(this);">
</div>